root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cpp,hpp,ipp,ypp}]
indent_style = space
indent_size = 4
max_line_length = 80

[*.lua]
indent_style = space
indent_size = 4
max_line_length = 80

[*.ttl]
indent_style = tab

[*.adoc]
max_line_length = 80

[meson.build]
indent_style = space
indent_size = 4

[meson_options.txt]
indent_style = space
indent_size = 4
