[submodule "3rd/CLI11"]
	path = 3rd/CLI11
	url = https://github.com/CLIUtils/CLI11.git
	branch = v1.8.0
[submodule "doc/themes/beautifulhugo"]
	path = doc/themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "3rd/fmt"]
	path = 3rd/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = 6.2.1
[submodule "3rd/trial.protocol"]
	path = 3rd/trial.protocol
	url = https://github.com/breese/trial.protocol.git
